cd /opt/jmeter/apache-jmeter/bin
sh PluginsManagerCMD.sh install-for-jmx PetStoreAPIScriptDynamicBuildNumber.jmx > plugins-install.out 2> plugins-install.err
jmeter-server -Dserver.rmi.localport=50000 -Dserver_port=1099 -Jserver.rmi.ssl.disable=true >> /report/jmeter-injector_~~loop_ID~~_01-05-12-57-44.out 2>> /report/jmeter-injector_~~loop_ID~~_01-05-12-57-44.err &
trap 'kill -10 1' EXIT INT TERM
java -jar /opt/jmeter/apache-jmeter/lib/jolokia-java-agent.jar start JMeter >> jmeter-injector.out 2>> jmeter-injector.err
wait
